<div>
  <h1>Welcome Day 2 Angular Project</h1>
  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-postdemo></app-postdemo> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <a routerLink="/home">Home</a>
    <a routerLink="/posts">Posts</a>
    <a routerLink="/pipes">Pipes</a>
    <a routerLink="/abcd">Not found</a>
  </mat-menu>

  <router-outlet></router-outlet>
</div>
